<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/a11y.css" type="text/css">
  <link rel="stylesheet" href="css/default.css" type="text/css">
  <title><%= page.title %></title>
</head>
<body class="bodymatter" epub:type="bodymatter">
  <section class="body" role="doc-chapter">
    <%- page.body %>
  </section>
</body>
</html>
