<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/default.css" type="text/css">
    <title><%= page.title %></title>
</head>
<body class="cover" epub:type="cover">
    <img src="<%= cover.src %>" alt="<%= cover.alt %>" title="<%= cover.title %>"/>
</body>
</html>
